@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


#hero-image-container {
    width: 100%; /* Ensure the container takes full width */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px; 
    font-family: 'Lato', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    min-height: 500px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 3em;
}

.section p {
    margin-bottom: 10px;
}

.section p:last-child {
    margin-bottom: 0;
}

.section-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.section-container img {
    width: 80%;
    max-width: 300px;
    height: auto;
}

.section-container div {
    width: 100%;
}

header {
    background-color: #FFD700;
    padding: 10px;
    height: 80px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    animation: preSlideIn 1s forwards, slideIn 1s 1s forwards;
    display: flex;
    align-items: center;
    z-index: 1000;
    opacity: .8; 
}

.logo {
    height: 150px; 
    width: auto;
    margin-right: 10px;
}

nav ul {
    position: relative;
    padding-right: 20px; 
    display: flex;
    list-style: none;
    white-space: nowrap;
}

nav ul li {
    margin: 5px; 
}

nav ul li a {
    color: #404040;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    line-height: 30px;
    margin: 0 5px;
    font-size: 1em;
}

nav ul li.more li a {
    color: #404040;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    line-height: 30px;
    margin: 0 5px;
    font-size: 0.8em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 95%;
    transform: translateX(-50%);
    background-color: #FFD700;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    display: none;
}

.more:hover .dropdown-menu {
    display: block;
}

nav ul.active {
    display: flex;
}

nav a:hover {
    color: #D70040;
    border: 2px solid #D70040;
}

.menu-toggle {
    background: none;
    border: none;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none; 
    box-shadow: none;
}

.bar {
    background-color: #333;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin: 3px 0;
    transition: background 0.3s ease;
}

.menu-toggle:hover .bar {
    background-color: #555;
}

.more-on-mobile {
    display: none;
}

#mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.navbar.open {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .more-on-mobile {
        display: block;
    }

    .more {
        display: none;
    }

    .navbar {
        display: none;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        background-color: rgba(255, 215, 0, 0.8);
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }
}

@keyframes preSlideIn {
    0% { top: -100px; }
    100% { top: -50px; }
}

@keyframes slideIn {
    0% { top: -50px; }
    100% { top: 0; }
}

.oreyo-popup {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.oreyo-popup-content h2 {
    color: #333;
}

.oreyo-popup-content p {
    color: #555;
}

#close-popup {
    background-color: #D70040;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: #bb0040;
}

#hero-image-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure children stretch to match height */
    padding: 0; /* Remove padding to avoid white space */
    margin-top: 80px; /* Add margin to push content below fixed header */
    width: 100%; /* Ensure the container takes full width */
}

#hero-image {
    flex: 7; /* Adjust flex to take up 70% of the width */
    background-image: url('hero-image.jpeg');
    background-size: cover;
    background-position: center;
    height: 700px; /* Match the height of the Calendly widget */
    margin: 0; /* Remove margin to avoid white space */
    min-height: 300px; /* Ensure a minimum height on smaller screens */
}

.calendly-inline-widget-container {
    flex: 3; /* Adjust flex to take up 30% of the width */
    height: 700px; /* Match the height of the hero image */
    margin: 0; /* Remove margin to align with hero image */
    overflow: hidden; /* Prevent any overflow issues */
    min-height: 300px; /* Ensure a minimum height on smaller screens */
}

@media only screen and (max-width: 600px) {
    #hero-image-container {
        flex-direction: column;
    }

    #hero-image {
        width: 100%;
        height: 300px; /* Adjust height for smaller screens */
    }

    .calendly-inline-widget-container {
        width: 100%;
        height: 300px; /* Adjust height for smaller screens */
        margin-top: 20px;
    }
}

#services {
    text-align: center;
    padding: 20px;
    color: #D70040;
    background-color: #D70040;
}

#services h2 {
    font-size: 3em;
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-item {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    font-size: 1.5em;
    color: black;
}

.service-item p {
    font-size: 1.2em;
    color: black;
}

.service-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.service-item .service-image {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-item .service-description .long-description {
    display: none;
}

.service-item:hover .service-description .short-description {
    display: none;
}

.service-item:hover .service-description .long-description {
    display: block;
}

@media only screen and (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}

#MedsOnCue .med-images {
    display: flex;
    justify-content: space-between;
}

#MedsOnCue img {
    width: 45%;
    height: auto;
    border: 5px solid #000;
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    #MedsOnCue .med-images {
        flex-direction: column;
        align-items: center;
    }
    
    #MedsOnCue img {
        width: 90%;
        margin-bottom: 15px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

#enterprise-section {
    text-align: center;
    padding: 40px;
    background-color: #D70040;
}

#enterprise-section .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enterprise-section .section-image-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

#enterprise-section .section-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#enterprise-section .section-text {
    width: 100%;
    padding: 20px;
}

#enterprise-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

#enterprise-section p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}

#enterprise-image {
    max-width: 30%;
}

@media only screen and (max-width: 600px) {
    #enterprise-section .content-wrapper {
        padding: 20px;
    }

    #enterprise-section .section-image-container {
        max-width: 100%;
        margin-bottom: 20px;
    }

    #enterprise-section .section-text {
        padding: 0;
    }

    #enterprise-section h2 {
        font-size: 2em;
    }

    #enterprise-section p {
        font-size: 1em;
    }
}

#reviews {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
}

#reviews h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #D70040;
}

.reviews-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 20px;
    overflow-x: auto; /* Add horizontal scrolling */
    width: 100%; /* Ensure it does not exceed the viewport width */
}

.review-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width for 3 items per row with gap */
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.review-text {
    width: 100%; /* Ensure the review text takes the full width of the review item */
    word-wrap: break-word; /* Allow long words to break and wrap */
    overflow-wrap: break-word; /* Ensure proper wrapping */
}

.review-item h3 {
    font-size: 1.5em;
    color: #333;
}

.review-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.review-item p {
    font-size: 1.1em;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .reviews-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .review-item {
        flex: 0 0 100%; /* Take full width on mobile */
        max-width: 100%;
        box-sizing: border-box;
    }

    .review-item:not(:last-child) {
        margin-right: 10px; /* Add some space between the review items */
    }
}


#transfer-patient-form {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    color: #D70040;
}

#transfer-patient-form h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
}

#transfer-patient-form .form-group {
    margin-bottom: 20px;
}

#transfer-patient-form label {
    display: block;
    margin-bottom: 5px;
}

#transfer-patient-form input[type="text"],
#transfer-patient-form input[type="tel"],
#transfer-patient-form input[type="date"],
#transfer-patient-form textarea {
    width: 50%;
    padding: 10px;
    border: 5px solid #D70040;
}

#transfer-patient-form textarea {
    resize: vertical;
}

#transfer-patient-form button {
    padding: 10px 20px;
    background-color: #D70040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#transfer-patient-form button:hover {
    background-color: #bb0040;
}

#locations {
    background-color: #D70040;
    color: white;
}

#viva-location-image {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    margin-bottom: 10px;
}

#nova-location-image {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
}

.locations-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location {
    text-align: center;
    margin: 10px;
}

.location-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-details {
    text-align: center;
}

.location-details a {
    color: inherit;
    text-decoration: none;
}

.location-details a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .locations-container {
        display: block;
    }
    .location {
        margin-bottom: 20px;
    }
    .location img {
        max-width: 100%;
        height: auto;
    }
    .location-details {
        padding: 10px;
    }
    .location p {
        margin-bottom: 10px;
    }
}

#contact {
    padding: 20px;
    text-align: center;
    height: 200px;
    background-color: white;
    color: black;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
}

textarea {
    height: 35%;
}

.contact-form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #D70040;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #D70040;
    color: white;
}

.footer-content {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .menu-toggle {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    header {
        padding: 5px;
    }

    nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;  
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: none;
    }
}

@media (min-width: 600px) {
    .mobile-text {
        display: none;
    }
}

@media (max-width: 600px) {
    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #jotform-container {
        margin-top: 80px;
    }
}
