@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto; 
    margin: 0;
    padding: 0;
    padding-bottom: 60px; 
    font-family: 'Rubik', sans-serif;
}



.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* This line is changed */
    padding: 20px;
    min-height: 300px; /* Adjust as needed */
}




.section h2 {
    margin-bottom: 20px;
}

header {
    background: linear-gradient(to right, rgba(65, 2, 77, 0.7), rgba(129, 53, 143, 0.7));
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    animation: preSlideIn 1s forwards, slideIn 1s 1s forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    height: 70px; 
    width: auto;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
    color: #fff;  /* or another color that suits your design */
    background: transparent;
    border: none;
    font-size: 1.5em;  /* adjust as needed */
  }
  

  nav {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 9999;
    
}



nav ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
}

nav ul li {
    margin-bottom: 20px;
    margin: 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.contact-button {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a.contact-button:hover {
    background-color: darkorange;
}

#hero-image {
    position: relative;
    background-image: linear-gradient(rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.7)), url('pharmacy1.png');
    background-color: rgba(225, 225, 225, 0.7);

    background-size: cover;
    background-position: center;
    color: #41024D;
    text-align: center;
    height: 500px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text h1, 
.hero-text p {
    margin: 0;
}

.hero-text h1 {
    font-size: 2.5em;
}

.hero-text p {
    font-size: 1.2em;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


.service-image-container {
    width: 40%;
}

.service-image {
    width: 100%;
}

.service-text-container {
    width: 60%;
    padding-left: 20px;
    color: #41024D;
}

#services {
    text-align: center;
    background: linear-gradient(to right, #f2e6ff, #e6e6ff); /* Light purple to light blue gradient. */
    padding: 20px;
    color: #41024D;
}


#services h2 {
    font-size: 3em;
    color: #41024D;

}


.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-item {
    background: #f9f9f9;
    padding: 30px;  /* Increase this as needed */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.service-item h3 {
    font-size: 1.5em; /* Adjust size as needed */
    color: #41024D;

}

.service-item p {
    font-size: 1.2em; /* Adjust size as needed */
    color: #41024D;

}

.service-item:hover {
    transform: scale(1.05); /* Adjust scale factor as needed */
    transition: transform 0.3s ease-in-out; /* Adjust timing as needed */
}



.service-item .service-image {
    width: 50%; /* Adjust this as needed */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}


.individual-service {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.individual-service h3 {
    margin-bottom: 10px;
}

.individual-service p {
    margin-bottom: 0;
}


.section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-container img {
    width: 45%; /* Adjust as needed */
    margin-right: 5%; /* Adjust as needed */
}

.section-container div {
    width: 45%; /* Adjust as needed */
}



footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@keyframes preSlideIn {
    0% { top: -100px; }
    100% { top: -50px; }
}

@keyframes slideIn {
    0% { top: -50px; }
    100% { top: 0; }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
    }
    .service-container, .product-container {
        flex-direction: column;
    }

    .service-image-container, .product-image-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .service-text-container, .product-text-container {
        width: 100%;
        padding: 0;
    }
}

/* Health, Beauty and Vitamins Section */
#health-beauty-vitamins {
    background-color: #f8f9fa; /* choose a color that matches your site's theme */
    padding: 20px;
    text-align: center;
}

#health-beauty-vitamins h2 {
    font-size: 3em; /* adjust as needed */
    color: #41024D; /* adjust as needed */
}



/* Med Info Section */
#med-info {
    background: linear-gradient(to right, #f2e6ff, #e6e6ff); /* Light purple to light blue gradient. */
    padding: 20px;
    text-align: center;
}

#med-info h2 {
    font-size: 3em; /* adjust as needed */
    color: #41024D; /* adjust as needed */
}


@media only screen and (max-width: 600px) {
    /* Health, Beauty, and Vitamins Section */
    #health-beauty-vitamins p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to display */
        -webkit-box-orient: vertical;
    }

    /* Med Info Section */
    #med-info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to display */
        -webkit-box-orient: vertical;
    }
}









#contact {
    background-color: white;
    padding: 20px;
    text-align: center;
    height: 200px; /* Reduced height */
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
}

.contact-form button {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: darkorange;
}

@media only screen and (max-width: 600px) {
    .menu-toggle {
      display: block;
    }
  }


@media only screen and (min-width: 600px) {

    header {
        padding: 5px;
    }

    nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
    }

     nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

